.genericHtml h1 {
  font-size: 5.2rem;
  margin-bottom: 1.6rem;
}

.genericHtml h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  
  align-items: center;
  margin-left: 90.5rem;
  text-align: left;
}

.genericHtml h3 {
  font-size: 3.0rem;
  margin-bottom: 1rem;
  margin-left: 90.5rem;
  text-align: left;
}

.genericHtml p {
  font-size: 2.6rem;
  line-height: 2.6;
  margin-bottom: 1.6rem;
  margin-left:90.5rem ;
  text-align: left;
}

.genericHtml a {
  color: var(--link-color);
  text-decoration: none;
  font-weight: bold;
  margin-left:90.5rem ;
  text-align: left;

}

.genericHtml a:hover {
  text-decoration: underline;
  margin-left:90.5rem ;
  text-align: left;
}

.genericHtml ul {
  padding-left: 2.4rem;
  margin-left:90.5rem ;
  text-align: left;
  
  font-size: 2.3rem;
}

.genericHtml li {
  margin-bottom: 0.8rem;
}