.logo{
   display: flex;
   padding-top: 7.2rem;
   align-items: center;
  justify-content: center;
  gap: 2.5rem;
  
}
.logoLink{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  gap: 1.0rem;
  font-size: 8.2rem;
  text-decoration: none;
  color: var(--primary);
}
.logo  :hover{
 color: var(--link-hover);
 transition: all 0.1s ease-in-out;
}
.logoLink svg {
  width: 10.9rem;
  height: 10.9rem;
}
   
