.button{
    border: none;
    background: var(--primary);
    color: var(--text-over-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 37rem;
    border-radius: 1.9rem;
    padding: 1.9rem;
    margin: 5.2rem 0;
    cursor: pointer;
    transition: all 0,1s ease-in-out;
}
.button svg{
    width: 3.9rem;
    height: 3.9rem;
}
.button:hover{
    filter: brightness(80%);
}

.green{
    background: var(--primary);
    color: var(--text-over-primary);
}
.red{
    background: var(--error);
    color: var(--text-over-error);
}